/* Стили тегов

/* Стили для основного контейнера */
body {
    margin: 0; /* Убираем внешний отступ у body */
    padding: 0; /* Убираем внешний отступ у body */
}

/* Стили для заголовка */
header {
    background-color: #008000;
    color: #ffffff;
    text-align: center;
    padding: 1px;
    margin: 0;
}

/* Стили для нижнего колонтитула */
footer {
    background-color: #008000;
    color: #ffffff;
    text-align: center;
    padding: 1px;
    margin: 0;
}

/* Стили для всех ссылок на сайте */
a {
    color: #FF0000; /* Задаем красный цвет для текста ссылок */
    font-size: 18px;
}

ul {
    list-style-type: disc; /* Маркеры в виде кругов */
}

/* Дополнительные стили для элементов списка, если необходимо */
li {
    margin: 5px 0; /* Отступы между элементами списка */
}

/* Стили для таблицы */
table {
    border-collapse: collapse; /* Объединяем границы ячеек */
    width: auto;
    border: 1px solid #000; /* Линия границы вокруг всей таблицы */
}

/* Стили для ячеек */
td {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный фон для большинства ячеек */
    color: #FFFFFF; /* Белый цвет текста для всех ячеек */
    border: 1px solid #FFFFFF; /* Линия границы для ячеек */
    padding: 5px;
    text-align: center;
}


/* Стили классов

/* Стили для основного контейнера */
.main-container {
    background-color: #0000FF;
    color: white; /* Задаем белый цвет текста */
    margin: 0 auto; /* Центрирование по горизонтали */
    max-width: 38%; /* 3/8 ширины экрана */
    padding: 20px; /* Отступы внутри контейнера */
}

/* Стили для заголовка и текста внутри контейнера */
.main-container h1 {
    font-size: 48px;
}

.main-container p {
    font-size: 16px;
}

/* Стили для изображения, обтекающего текст */
.float-left {
    float: left; /* Обтекание текстом слева */
    margin: 0 20px 20px 0; /* Отступы: верхнее, правое, нижнее, левое */
}

/* Дополнительные стили для контента */
.content {
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

/* Стили для изображения в начале сайта */
.attachment-1x1 {
    width: 128px; /* Задаем ширину 128 пикселей */
    height: 128px; /* Задаем высоту 128 пикселей */
    object-fit: cover; /* Сжать изображение, если оно не соответствует размерам контейнера */
}

/*Стили для */
.center-align {
    text-align: center;
}

.red-text {
    color: #FF0000;
}

/* Стили для левой части */
.left {
    flex: 1;
    padding: 10px 0 0 0;
    display: inline-block;
}

/* Стили для правой части */
.right {
    padding: 30px 0 0 0;
    float: right;
}

/*Стили для стикера*/
.sticker {
    width: 24px; /* Задаем ширину 128 пикселей */
    height: 24px; /* Задаем высоту 128 пикселей */
    object-fit: cover; /* Сжать изображение, если оно не соответствует размерам контейнера */
    margin: 5px 0 0 0;
    float: right;
}